@model Forestry_test.Models.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h3>
        <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-sm btn-warning">Назад</a>
    </h3>
<div class="col-md-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Sorte.SortD" class="control-label"></label>
            <select asp-for="SortID" class="form-control" asp-items="ViewBag.SortID">
                <option>Выберите наименование</option>
            </select>
            <span asp-validation-for="SortID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Lght" class="control-label">Длина, м</label>
            <input asp-for="Lght" class="form-control" />
            <span asp-validation-for="Lght" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Volume" class="control-label">Объем, м3</label>
            <input asp-for="Volume" class="form-control" />
            <span asp-validation-for="Volume" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quarters" class="control-label">Квартал</label>
            <input asp-for="Quarters" class="form-control" />
            <span asp-validation-for="Quarters" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Loc.Loc" class="control-label"></label>
            <select asp-for="LocID" class="form-control" asp-items="ViewBag.LocID">
                <option>Выберите лесничество</option>
            </select>
            <span asp-validation-for="LocID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfShipment" class="control-label">Дата погрузки</label>
            <input asp-for="DateOfShipment" class="form-control" />
            <span asp-validation-for="DateOfShipment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-sm btn-success" />
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}