@model Forestry_test.Models.Location
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
    <a asp-area="" asp-controller="Locations" asp-action="Index">Назад</a>
</h3>
@using (Html.BeginForm("Edit", "Locations", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(c => c.LocID)
        <p>
            @Html.LabelFor(c => c.Loc, "Лесничество")
            <br />
            @Html.EditorFor(c => c.Loc)
        </p>
        <p>
            <input type="submit" value="Изменить"/>
        </p>
    </fieldset>
}

